## Useful properties and methods

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("../datasets/various/drinks.csv")
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [4]:
index = data.index
print(index)
# print(list(index))

RangeIndex(start=0, stop=193, step=1)

In [5]:
column_labels = data.columns
print(column_labels)
# print(list(column_labels))

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [7]:
data.shape

(193, 6)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [ ]:
data.describe()

In [9]:
# note that all parameters in describe, are also defined as a separate functions
print('the mean values for all columns:')
print( data.mean() )

print('\nthe mean value for "wine_servings" column')
print( data['wine_servings'].mean() )

the mean values for all columns:
beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

the mean value for "wine_servings" column
49.45077720207254

In [11]:
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [12]:
# find max values for wine, beer and pure_alcohol
max_wine_servings = data.wine_servings.max()
print(f'max_wine_servings: {max_wine_servings}')

max_pure_alcohol = data.total_litres_of_pure_alcohol.max()
print(f'max_pure_alcohol: {max_pure_alcohol}')

max_beer_servings = data.beer_servings.max()
print(f'max_beer_servings: {max_beer_servings}')

max_wine_servings: 370
max_pure_alcohol: 14.4
max_beer_servings: 376

In [16]:
# which country has the max wine servings:
data.loc[data.wine_servings == max_wine_servings, 'country']

61    France
Name: country, dtype: object

In [ ]:
# what are the data for Bulgaria:
data[data.country == 'Bulgaria']

In [ ]:
# which non european countries have wine servings above the mean :
mean_wine_servings = data.wine_servings.mean()
data[ (data.wine_servings > mean_wine_servings) & (data.continent != 'EU')]

# next also works, but is not efficient as it creates a copy in memory
# data[data.wine_servings > mean_wine_servings][data.continent != 'EU']

In [ ]:
# find countries with 0 wine servings and bear servings
data[ (data.wine_servings == 0) & (data.beer_servings == 0)]

In [129]:
# Detect missing values

# check weather any missing values exists:
print(data.isnull().values.any())

# show the sum of missing values per column:
print(data.isnull().sum())

True
country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64